<div class = "container">
	<div class="wrapper">
		<div  class="form-signin">       
		    <h3 class="form-signin-heading">Welcome 麺stagram! </h3>
			  <hr class="colorgraph"><br>
			  <%= form_with model: @user, url: user_registration_path, id: 'new_user', class: 'new_user', local: true do |f| %>
  			  <%= render "devise/shared/error_messages", resource: resource %>
            <div class="row align-items-center">
            <div class="col-md-5">名前</div>
            <div class="col-md-3">
              <%= f.text_field :username, autofocus: true, autocomplete: "email" %>
            </div>
          </div>
            <br/>
            <div class="row align-items-center">
            <div class="col-md-5">メールアドレス</div>
            <div class="col-md-3">
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>
          </div>
            <br/>
          <div class="row align-items-center">
            <div class="col-md-5">
              パスワード<br/>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> 文字以上)</em>
              <% end %><br />
            </div>
            <div class="col-md-3">
              <%= f.password_field :password, autocomplete: "new-password" %>
            </div>
          </div>
            <br/>
           <div class="row align-items-center">
            <div class="col-md-5">パスワード確認</div>
            <div class="col-md-3">
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </div>
          </div>
            <br/>
            <div class="actions">
              <%= f.submit "Sign up", class: "btn btn-lg btn-primary btn-block" %>
            </div>
          <% end %>
		</div>			
	</div>
</div>