
  <% User.all.where.not(id: current_user.id).each do |user| %>
       
    <%= link_to user_path(user) do %>
      <%= attachment_image_tag user, :profile_image, :fill, 80, 80, fallback: "no_image.jpg" %>
    <% end %>
               
    <div class="title"><%=link_to user.username, user_path(user) %></div>
    
    <div>          
    <% if current_user.following?(user) %>
        <%= link_to 'フォロー外す', unfollow_path(user.id), method: :POST %>
    <% else %>
        <%= link_to 'フォローする', follow_path(user.id), method: :POST %>
    <% end %>
    </div>
  <% end %>
  