<div class="card-list-containar py-5">
<% ramen_images.each do |ramen_image| %>
<div class="card w-50 mx-auto mt-4 shadow-lg">
  <%= link_to ramen_image_path(ramen_image.id) do %>
  <%= attachment_image_tag ramen_image, :image, :fill, 300, 300, format: 'jpeg', fallback: "no_image.jpg" %>
  <% end %>
  <div class="card-body">
      <div class="row">
        <div class="col-2">
          <%= attachment_image_tag ramen_image.user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg" %>
        </div>
        <!--<div class="col-10">-->
          <p>ユーザーネーム：<%= ramen_image.user.username %></p>
          <p>店舗名：<%= ramen_image.shop_name %></p>
          <P>住所 : <%= ramen_image.address %></P>
          <P>税込価格 : <%= ramen_image.tax_price %></P>
          <P>スープ : <%= ramen_image.taste %></P>
          <p>感想：<%= ramen_image.caption %></p>
          <p>評価：</p>
            <div class="ramen_image-evaluation" data-score="<%= ramen_image.evaluation %>"></div>
          <p><%= link_to "#{ramen_image.ramen_comments.count} コメント", ramen_image_path(ramen_image.id) %></p>
        </div>
      </div>  
  </div>
<% end %>
<script>
  $('.ramen_image-evaluation').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
</script>
<%= paginate ramen_images %>