<div class="card mb-3" style="max-width: 1600px">
  <div class="row no-gutters">
          <div class="col-md-5 my-auto">
  <!--投稿詳細-->
            <%= link_to user_path (@user) do %>
            <div>
            </div>
            <%= attachment_image_tag @ramen_image, :image, :fill, 500, 500, format: 'jpeg', fallback: "no_image.jpg" %>
            <% end %>
            <div><%= @ramen_image.created_at.strftime('%Y/%m/%d') %></div>
          </div>
          
          <div class="col-md-3">
            <div>
                <p>店舗名<br/><i class="fas fa-arrow-alt-circle-right fa-lg"></i><%= @ramen_image.shop_name %></p>
                <p>住所<br/><i class="fas fa-arrow-alt-circle-right fa-lg"></i><%= @ramen_image.address %></p>
                <p>税込価格<br/><i class="fas fa-arrow-alt-circle-right fa-lg"></i><%= @ramen_image.tax_price %>円</p>
                <p>スープ<br/><i class="fas fa-arrow-alt-circle-right fa-lg"></i><%= @ramen_image.taste %></p>
                <p>感想<br/><i class="fas fa-arrow-alt-circle-right fa-lg"></i><%= @ramen_image.caption %></p>
                <div>評価</div>
                  <div class="ramen_image-evaluation" data-score="<%= @ramen_image.evaluation %>"></div>
                    <script>
                      $('.ramen_image-evaluation').raty({
                        readOnly: true,
                        score: function() {
                          return $(this).attr('data-score');
                        },
                        path: '/assets/'
                      });
                    </script>
                
                <div id="ramen_image_<%= @ramen_image.id %>">
                <!--いいね機能-->
                <%= render 'favorites/favorite', ramen_image: @ramen_image %>
                </div>
                <!--投稿削除-->
              <% if @ramen_image.user == current_user %>
                  <h4>
                  <%= link_to ramen_image_path(@ramen_image), method: :delete do %>
                  <button type="button" class="btn btn-outline-secondary">投稿削除</button>
                  </h4>
              <% end %>
                
            </div>  
          </div>
            
          <div class="col-md-4 comment">
              <!--コメント一覧-->
              <div id = "comments">
              <%= render 'ramen_comments/index', ramen_image: @ramen_image %>
              </div>
              <!--コメント投稿-->
              <br/>
              <div class="new-comment">
              <%= render 'ramen_comments/form', ramen_image: @ramen_image %>
              </div>
               
              <% end %>
          </div>
        </div>
      </div>
  </div>
</div>
            
              
              
<!--マップ表示-->
<%= render 'ramen_images/gmap', ramen_image: @ramen_image %>