<!DOCTYPE html>
<html>
  <head>
    <title>Menstagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-info">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    
    <% if flash[:alert] %>
      <div class="notification is-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    
   
    
    <% if user_signed_in? %>
         <%= link_to root_path, class: "navbar-item" do %>
              <h1 class="title is-4" style="font-family: cursive;">麺stagram</h1>
         <% end %>
          <li>
            <%= link_to '投稿フォーム', new_ramen_image_path %> 
          </li>
          <li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "button is-warning is-light" %>
          </li>
          <li>
            <%= link_to 'マイページ', user_path(current_user.id) %>
          </li>
    <% else %>
          <li>
            <%= link_to "ログイン", new_user_session_path, class: "button is-warning is-light" %>
          </li>
          <li>
            <%= link_to "新規登録", new_user_registration_path, class: "button is-warning is-light" %>
          </li>
    <% end %>
    
    
    <%= yield %>
    
  </body>
</html>
