<!DOCTYPE html>
<html>
  <head>
    <title>Menstagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notification is-info">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    
    <% if flash[:alert] %>
      <div class="notification is-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    
<header class="sticky-top">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand p-3">
        <%= link_to root_path, class: 'nav-link text-dark' do %>
            <h1 class="title is-4" style="font-family: cursive;">éººstagram
            <i class="fab fa-instagram instagram"></i>
            </h1>
        <% end %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
                  <li class="nav-item">
                    <%= link_to 'æŠ•ç¨¿', new_ramen_image_path, class: 'fas fa-camera-retro nav-link text-dark'%> 
                  </li>
                  <li class="nav-item">
                    <%= link_to 'ãƒžã‚¤ãƒšãƒ¼ã‚¸', user_path(current_user.id), class: 'fas fa-user nav-link text-dark' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'ãƒ©ãƒ¼ãƒ¡ãƒ³', ramen_images_path, class: 'fas fa-mortar-pestle nav-link text-dark' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to 'éººãƒãƒ¼', users_path(current_user.id), class: 'fas fa-child nav-link text-dark' %>
                  </li>
                   <li class="nav-item">
                    <%= link_to "ãƒ­ã‚°ã‚¢ã‚¦ãƒˆ", destroy_user_session_path, method: :delete, class: 'fas fa-sign-out-alt nav-link text-dark' %>
                  </li>
            <% else %>
                  <li class="nav-item">
                    <%= link_to "ãƒ­ã‚°ã‚¤ãƒ³", new_user_session_path, class: 'fas fa-sign-in-alt nav-link text-dark' %>
                  </li>
                  <li class="nav-item">
                    <%= link_to "æ–°è¦ç™»éŒ²", new_user_registration_path, class: 'fas fa-user-plus nav-link text-dark' %>
                  </li>
            <% end %>
          </ul>
            <% if user_signed_in? %>
                    <%= form_tag(search_search_path, method: :get) do %>
                    <%= select_tag 'range' ,options_for_select([['ã‚¹ãƒ¼ãƒ—', '2'], ['éººãƒãƒ¼', '1']]) %>
                    <%= select_tag 'search', options_for_select([["å‰æ–¹ä¸€è‡´","forward_match"], ["å¾Œæ–¹ä¸€è‡´","backward_match"], ["éƒ¨åˆ†ä¸€è‡´","partial_match"], ["å®Œå…¨ä¸€è‡´","perfect_match"]]) %>
                    <%= text_field_tag (:word) %>
                    <%= submit_tag "ðŸ”" %>
                    <% end %>
            <% end %>
        </div>
  </nav>
  
  
</header>
    
    
    <%= yield %>
    
  </body>
</html>